<% # Declare variavle title and assigne it value Contact %>
<% # This variable will be avaliable for application %>
<% # layout template. %>
<% provide(:title, 'Contact') %>

<% # The page will be placed inside the applicatin %>
<% # layout template to make complete page. %> 
<h1>Contact</h1>
<p>
  Contact Ruby on Rails Tutorial about the sample app at the
  <a href="http://railstutorial.org/contact">contact page</a>.
</p>