<% # Declare variavle title and assigne it value Help %>
<% # This variable will be avaliable for application %>
<% # layout template. %>
<% provide(:title, "Help") %>

<% # The body will be placed inside the applicatin %>
<% # layout template to make complete page. %> 
<body>
  <h1>Help</h1>
  <p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
    To get help on this sample app, see the
    <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
  </p>
</body>