<% provide(:title, 'All users') %>
<h1>All users</h1>

<% # Used to break long list of users into pages of 30 %>
<%= will_paginate %>

<ul class="users">
  <% 
  	# Cycle through each user in @user object and pass them
  	# into a block variable user
  %>
  <% @users.each do |user| %>
   <%= render @users %>
  <% end %>
</ul>