<% # Declare a hash title and assigne it user name %>
<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<% # Call mathod gravatar_for passing @user object %>
				<% # This will return a gravatar image %>
				<%= gravatar_for @user, size: 40 %>
				
				<% # User name for the header diaplay %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
</div>
