<% # Declare a hash title and assigne it user name %>
<% provide(:title, @user.name) %>

<% # Display user name in h1 tag %>
<h1><%= @user.name %></h1>

<% # Display user name and email from User object. %>
<%= @user.name %>, <%= @user.email %>