<% # Check for any errors in the @user object. If so,
   # execute the code within.
%>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      <% # Counts the number of errors there is and using the
         # pluralize method adds error for one and errors for
         # greater than one.
      %>
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <%
      # Cycle through the array of errors by listing
      # each full_message and sending it into the block
      # as the msg block variable.
    %>
    <% @user.errors.full_messages.each do |msg| %>
      <% # Create a list item for each error message %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
