<!-- 
	Classes used in layout have specific meaning in Bootstrap
	Bootstrap it a gemfile supplied by twitter for generating
	CSS easily and quick formatting of page latout. 
-->

<!-- Top of page -->
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <% 
      	# Logo at top of page.
      	# link_to creates a html hyperlink with the text
      	# sample app being visible. Currently the href will
      	# link to # and it will have an id of logo.
      %>
      <%= link_to "sample app", 'root_path', id: "logo" %>
      <!-- navigation bar for the site -->
      <nav>
        <ul class="nav pull-right">
          <%
          	# link_to is used to create hyperlinks for the
          	# navigation bar. The first parameter is the text
          	# that will be displayed such as Home. The next
          	# parameter is were the href will direct the browser.
          	# At this point it is using the # sysmbol for a blank
          	# link.
          %>
          <li><%= link_to "Home", 'root_path' %></li>
          <li><%= link_to "Help", 'help_path' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>}
